<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NativeTwitch.pkg</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>x86_64</string>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>8</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>18E4BA3322D3D1BE13B3E6B839DEF34F1A3FA26A</string>
				<key>dateExpires</key>
				<string>2022-09-21</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>com.apple.application-identifier</key>
				<string>4538W4A79B.com.aayush.opensource.NativeTwitch</string>
				<key>com.apple.developer.team-identifier</key>
				<string>4538W4A79B</string>
			</dict>
			<key>name</key>
			<string>NativeTwitch.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>f68dc046-9f47-4d20-a91c-23135cc9174b</string>
				<key>dateExpires</key>
				<string>2022-09-21</string>
				<key>name</key>
				<string>Mac Team Store Provisioning Profile: com.aayush.opensource.NativeTwitch</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>4538W4A79B</string>
				<key>name</key>
				<string>Aayush Pokharel</string>
			</dict>
			<key>versionNumber</key>
			<string>1.5</string>
		</dict>
	</array>
</dict>
</plist>
